/* Write your global styles here, in PostCSS syntax */
@tailwind base;

/* Custom classes go here */
/* This will always be included in your compiled CSS */

.active {color: blue;}

@tailwind components;

@tailwind utilities

